body {
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    border: 4px solid #fff;
    background-color: #70c5ce; /* Göy üzü rəngi */
}